@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>BCIT CST Option Selection</h2>
</div>
<div class="container center-block">
    <form class="form-horizontal" role="form">
        <div class="form-group">
                <label for="studentnumber" class="col-md-3 control-label">
                    Student Number:
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="studentnumber" placeholder="A00######">
                </div>
            </div>   
        <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">
                First Name:
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="firstname" placeholder="First Name">
            </div>
            </div>
        <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">
                Last Name:
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
            </div>
            </div>
        <div class="form-group">
            
                <label for="firstchoice" class="col-md-3 control-label">
                    First Choice:
                </label>
                <div class="col-md-6">
                    <select class="form-control" id="option1">
                        <option selected="selected" value="Information Systems">Information Systems</option>
                        <option value="Data Communications">Data Communications</option>
                        <option value="Digital Processing">Digital Processing</option>
                        <option value="Client Server">Client Server</option>
                    </select>
                </div>
            </div>

        <div class="form-group">
            <label for="secondchoice" class="col-md-3 control-label">
                Second Choice:
            </label>
            <div class="col-md-6">
                <select class="form-control" id="option2">
                    <option value="Information Systems">Information Systems</option>
                    <option selected="selected" value="Data Communications">Data Communications</option>
                    <option value="Digital Processing">Digital Processing</option>
                    <option value="Client Server">Client Server</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="thirdchoice" class="col-md-3 control-label">
                Third Choice:
            </label>
            <div class="col-md-6" id="option3">
                <select class="form-control">
                    <option value="Information Systems">Information Systems</option>
                    <option value="Data Communications">Data Communications</option>
                    <option selected="selected" value="Digital Processing">Digital Processing</option>
                    <option value="Client Server">Client Server</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="fourthchoice" class="col-md-3 control-label">
                Fourth Choice:
            </label>
            <div class="col-md-6" id="option4">
                <select class="form-control">
                    <option value="Information Systems">Information Systems</option>
                    <option value="Data Communications">Data Communications</option>
                    <option value="Digital Processing">Digital Processing</option>
                    <option selected="selected" value="Client Server">Client Server</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <button type="button" id="btn_clear" class="btn btn-primary">Clear</button>
                <button type="button" id="btn_submit" class="btn btn-primary">Submit</button>
            </div>

        </div> 
    </form>
</div>

