@model Assignment3.Models.ChoiceViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Public</h2>

@Scripts.Render("~/Scripts/jquery-2.1.0.js")




<script>
    $(document).ready(function () {
        GetAllOptions();
        GetTerms();
    });

    function GetTerms() {
        jQuery.support.cors = true;
        $.ajax({
            url: '/api/TermAPI/active',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteTerm(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function WriteTerm(info) {
        var strResult = "";
        strResult += "<div class=\"form-group\">\n";
        strResult += "<label for=\"Term\" class=\"col-md-3 control-label\">\n";
        strResult += "Term:";
        strResult += "</label>\n"
        strResult += "<div class=\"col-md-6\">\n";
        strResult += "<select class=\"form-control\" id=\"terms\" >\n";
        $.each(info, function (index, term) {
            strResult += "<option value=\"" + term.TermCode + "\"";
            strResult += " >" + term.Description + "</option>\n";
        });
        strResult += "</select>\n";
        strResult += "</div>\n";
        strResult += "</div>";

        $("#divTerms").html(strResult);
    }

    function GetAllOptions() {
        jQuery.support.cors = true;
        $.ajax({
            url: '/api/OptionAPI/active',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteOptions(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function WriteOptions(info) {
        var nums = new Array("First", "Second", "Third", "Fourth");
        var strResult = "";
        for (var i = 0; i < 4; i++) {
            strResult += "<div class=\"form-group\">\n";
            strResult += "<label for=\"" + nums[i] + "choice\" class=\"col-md-3 control-label\">\n";
            strResult += nums[i] + " Choice:\n";
            strResult += "</label>\n"
            strResult += "<div class=\"col-md-6\">\n";
            strResult += "<select class=\"form-control\" id=\"option" + i + "\" required>\n";
            $.each(info, function (index, option) {
                strResult += "<option value=\"" + option.Title + "\"";
                if (i == index) {
                    strResult += " selected=\"selected\" ";
                }
                strResult += ">" + option.Title + "</option>\n";
            });
            strResult += "</select>\n";
            strResult += "</div>\n";
            strResult += "</div>\n\n";
        }
        $("#divOptions").html(strResult);
    }


    function AddStudent() {
        jQuery.support.cors = true;

        var a = document.getElementById("option0");
        var b = document.getElementById("option1");
        var c = document.getElementById("option2");
        var d = document.getElementById("option3");
        var e = document.getElementById("terms");

        var op0 = a.options[a.selectedIndex].value;
        var op1 = b.options[b.selectedIndex].value;
        var op2 = c.options[c.selectedIndex].value;
        var op3 = d.options[d.selectedIndex].value;
        var te0 = e.options[e.selectedIndex].value;


        var student = {
            StudentNumber: $('#studentnumber').val(),
            FirstName: $('#firstname').val(),
            LastName: $('#lastname').val(),
            FirstChoice: op0,
            SecondChoice: op1,
            ThirdChoice: op2,
            FourthChoice: op3,
            Term: te0,
        };

        $.ajax({
            url: '/api/ChoiceAPI/',
            type: 'POST',
            data: JSON.stringify(student),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert("Your choices have been added!");
            },
            error: function (x, y, z) {
                alert(x.responseText);
            }
        });
    }

</script>

<div>
    <h2 id="term">BCIT CST Option Selection - Spring/Summer 2014</h2>
</div>
<div class="container center-block">
    <form class="form-horizontal" role="form" id="optionForm">

        <div class="form-group">
            <label for="studentnumber" class="col-md-3 control-label">
                Student Number:
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="studentnumber" placeholder="A00######" pattern="^A00\d{6}$" required title="A00###### - 9 characters minimum" />
            </div>
        </div>

        <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">
                First Name:
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="firstname" placeholder="First Name" pattern=".{1,40}" required title="40 characters maximum" />
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">
                Last Name:
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="lastname" placeholder="Last Name" pattern=".{1,40}" required title="40 characters maximum" />
            </div>
        </div>

        <asp:scriptmanager runat="server" />
        <div id="divOptions">

        </div>
        <div id="divTerms">

        </div>

        <div class="form-group">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <button type="reset" id="btn_clear" class="btn btn-primary">Clear</button>
                <button type="button" id="btn_submit" class="btn btn-primary" onclick="AddStudent();">Submit</button>
            </div>

        </div>

    </form>
    <script>
        $(".optionForm").validate({
            submitHandler: function (form) {
                $(form).ajaxSubmit();
            }
        });
        document.getElementById("optionForm").onsubmit = function () {

            return false;
        };
    </script>
</div>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>